body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	background-color: #000;
}

canvas {
	border: 1px solid #fff;
}

#scoreBoard {
	color: #fff;
	font-size: 20px;
	margin-bottom: 10px;
}

#restartBtn{
	background-color: #000;
	color: #fff;
	border: 1px solid #fff;
	padding: 10px 20px;
	font-size: 20px;
	cursor: pointer;
}

#turnl{
	background-color: #000;
	color: #fff;
	border: 1px solid #fff;
	padding: 10px 20px;
	font-size: 20px;
	cursor: pointer;
}

#turnr{
	background-color: #000;
	color: #fff;
	border: 1px solid #fff;
	padding: 10px 20px;
	font-size: 20px;
	cursor: pointer;
}

#down {
	background-color: #000;
	color: #fff;
	border: 1px solid #fff;
	padding: 10px 20px;
	font-size: 20px;
	cursor: pointer;
}

#pad{
	display: flex;
	padding: 30px 20px ;
}

#pad > div {
	margin: 0 10px;
}

#left {
	background-color: #000;
	color: #fff;
	border: 1px solid #fff;
	padding: 10px 20px;
	font-size: 20px;
	cursor: pointer;
}

#right {
	background-color: #000;
	color: #fff;
	border: 1px solid #fff;
	padding: 10px 20px;
	font-size: 20px;
	cursor: pointer;
}
